<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Firoz Kakarla</h1>
        <p><b>An AIML Engineer</b></p>
    </header>
    <hr>
    <! -- Navigation bar -- >
    <nav>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#education">Education</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
    <hr>
    <! -- About Me -- >
    <section id="about">
        <h2>About Me</h2>
        <p>Hello I am <strong>Firoz Kakarla</strong> I am a <mark>An AIML Engineer</mark></p>
        <p>I love <u>AI</u> and enthustisatic in learning <u>AI Tools</u></p>
    </section>
    <hr>
    <! -- Skills section -- >
    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>HTML/CSS</li>
            <li>Flask</li>
            <li>SQL</li>
        </ul>
    </section>
    <hr>
    <! -- Education Section -- >
    <section id="Education">
        <h2>Education</h2>
        <table>
            <th>Degree</th>
            <th>Institution</th>
            <th>Year</th>
            <tr>
                <td>B.Tech in AIML</td>
                <td>Dr. RVR NRI INSTITUTE OF TECHNOLOGY,Agiripalli</td>
                <td>2027</td>
            </tr>
        </table>
    </section>
    <hr>
    <! -- Projects Section -- >
    <section id="Projects">
        <h2>Projects</h2>
        <article>Early Detection on Diabetes</article>
        <p>Developed <mark>Early Detection on Diabetes</mark> and Preventive Care Using AI Techniques</p>
    </section>
    <hr>
    <section>
        <h2>Favourite Youtube Videos</h2>
        <iframe src="https://www.youtube.com/live/ayhZkE_RT54?si=I4SxyGnEC_3bcqeP" frameborder="0" title="UNQ GAMER"></iframe>
    </section>
    <hr>
    <! -- Contact Section -- >
    <section id="Contact">
        <h2>Contact</h2>
        <p>Email: <a href="firozkakarla@gmail.com">firozkakarla@gmail.com</a></p>
        <p>Phone: +91 12345678889</p>
    </section>
    <footer>
        <p>&copy; 2026 Firoz Kakarla.All rights reserved.</p>
    </footer>
</body>
</html>